@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&display=swap');

/*TODO: implement Bulma */

/* Reset default styles */
body, h1, h2, h3, p, ul, li {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: 'Lato', sans-serif;;
    background-image: url('/assets/img/wallpaper.png');
    line-height: 1.5;;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Header styles */
header {
    background-color: #000000a5;
    color: #fff;
    padding: 20px;
}

.heading {
    font-size: 35px;
}

.description {
    font-style: italic;
    font-size: 20px;
    color: #61042d;
}

/* Navigation styles */
.nav, .subnav {
    display: flex;
    justify-content: center;
    background-color: #00000065;
    padding: 10px;
}

.subnav { /*TODO: make this horizontal (table of contents style) */
    margin-top: 40px;
    background-color: #00000065;
}

/* Style the tab buttons */
.tablink, .subtablink {
    font-family: 'Lato', sans-serif;;
    text-align: center;
    background-color: transparent;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover, .subtablink:hover {
    background-color: #40404091;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent, .subtabcontent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    color: #ffffff;
    display: none;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}

.tabcontent h1, .subtabcontent h1 {
    color: #ffffff; 
    margin-bottom: 20px;
}

.tabcontent p {
    color: #ffffff; 
    margin-bottom: 10px;
}


/* Footer styles */
footer {
    background-color: #00000065;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer p {
    font-size: 15px;
}

.profile-image {
    float: left;
    width: 300px;
    height: 300px;
    border-radius: 75%;
    margin-left: 170px;
    shape-outside: circle();
    clip-path: circle();
    border: 2px solid #61042d;
}

.about-text {
    float: left;
    margin-left: 100px;
    text-align: justify;
    border-radius: 50% 0 0 50% / 100% 0 0 100%;
}

.about-heading {
    font-size: 50px;
    font-style: bold;
    color: #ffffff;
    margin-bottom: 20px;
    margin-top: 50px;
    margin-left: 500px;
}
